Node-Red SwitchBot Automation json
[
    {
        "id": "d07b44383b50f590",
        "type": "tab",
        "label": "Kitchen Lights",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e1a35d9de98b0cb1",
        "type": "server-state-changed",
        "z": "d07b44383b50f590",
        "name": "brightInKitchen",
        "server": "315411fb.df557e",
        "version": 5,
        "outputs": 1,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.motion_sensor_912d_light",
        "entityIdType": "exact",
        "outputInitially": true,
        "stateType": "habool",
        "ifState": "",
        "ifStateType": "str",
        "ifStateOperator": "is",
        "outputOnlyOnStateChange": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "x": 360,
        "y": 380,
        "wires": [
            [
                "87d36309077b1333"
            ]
        ]
    },
    {
        "id": "5c158c36e73ff20c",
        "type": "trigger-state",
        "z": "d07b44383b50f590",
        "name": "motionInKitchen",
        "server": "315411fb.df557e",
        "version": 3,
        "inputs": 1,
        "outputs": 2,
        "exposeAsEntityConfig": "",
        "entityId": "binary_sensor.motion_sensor_912d_motion_detected",
        "entityIdType": "exact",
        "debugEnabled": false,
        "constraints": [],
        "customOutputs": [],
        "outputInitially": true,
        "enableInput": true,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "x": 360,
        "y": 260,
        "wires": [
            [
                "4bafe782ea600a31"
            ],
            []
        ]
    },
    {
        "id": "9f813bdd5b248343",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "on",
        "payloadType": "str",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "4bafe782ea600a31"
            ]
        ]
    },
    {
        "id": "288fd49124890e81",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "off",
        "payloadType": "str",
        "x": 390,
        "y": 300,
        "wires": [
            [
                "4bafe782ea600a31"
            ]
        ]
    },
    {
        "id": "87d36309077b1333",
        "type": "function",
        "z": "d07b44383b50f590",
        "name": "isBright",
        "func": "flow.set(\"isBright\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 380,
        "wires": [
            [
                "68382701c1dcb977"
            ]
        ]
    },
    {
        "id": "68382701c1dcb977",
        "type": "function",
        "z": "d07b44383b50f590",
        "name": "kitchenLightFunction",
        "func": "var isBright = flow.get(\"isBright\");\nvar motion = flow.get(\"motion\");\nvar isLightOn = flow.get(\"isLightOn\");\nvar timeNow = flow.get(\"time\");\n\nif (timeNow >= '6' && isBright === false && motion === \"on\") {\n    msg.payload = \"On\";\n    return msg;\n}\nelse if (timeNow <= '6' && isBright === true && motion === \"on\") {\n    msg.payload = \"On\";\n    return msg;\n}\nif (isBright === true && isLightOn === false && motion === \"on\") {\n    msg.payload = \"Nothing\";\n //   return msg;\n}\nelse if (isBright === true && isLightOn === true && motion === \"on\") {\n    msg.payload = \"On\";\n    return msg;\n}\nelse if (motion === \"off\"){\n    msg.payload = \"Off\";\n    return msg;\n}",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 380,
        "wires": [
            [
                "39c80da5e3f4c7f9"
            ]
        ]
    },
    {
        "id": "4bafe782ea600a31",
        "type": "function",
        "z": "d07b44383b50f590",
        "name": "motion",
        "func": "flow.set(\"motion\",msg.payload);\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 260,
        "wires": [
            [
                "68382701c1dcb977"
            ]
        ]
    },
    {
        "id": "39c80da5e3f4c7f9",
        "type": "switch",
        "z": "d07b44383b50f590",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "On",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 930,
        "y": 380,
        "wires": [
            [
                "4f5e510724899dfc",
                "cccdd3bc542ec8ad"
            ],
            [
                "4f5e510724899dfc"
            ]
        ]
    },
    {
        "id": "cccdd3bc542ec8ad",
        "type": "api-call-service",
        "z": "d07b44383b50f590",
        "name": "kitchenLightsOn",
        "server": "315411fb.df557e",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_on",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.kitchen_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "none",
        "x": 1300,
        "y": 340,
        "wires": [
            [
                "3e5bd88e76657e43"
            ]
        ]
    },
    {
        "id": "88c4a7cd19b256ff",
        "type": "api-call-service",
        "z": "d07b44383b50f590",
        "name": "kitchenLightsOff",
        "server": "315411fb.df557e",
        "version": 5,
        "debugenabled": false,
        "domain": "homeassistant",
        "service": "turn_off",
        "areaId": [],
        "deviceId": [],
        "entityId": [
            "light.kitchen_light"
        ],
        "data": "",
        "dataType": "json",
        "mergeContext": "",
        "mustacheAltTags": false,
        "outputProperties": [],
        "queue": "first",
        "x": 1300,
        "y": 420,
        "wires": [
            [
                "d4ef8cecf14e9aa5"
            ]
        ]
    },
    {
        "id": "4f5e510724899dfc",
        "type": "trigger",
        "z": "d07b44383b50f590",
        "name": "",
        "op1": "",
        "op2": "Off",
        "op1type": "nul",
        "op2type": "str",
        "duration": "120",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "On",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1110,
        "y": 420,
        "wires": [
            [
                "88c4a7cd19b256ff"
            ]
        ]
    },
    {
        "id": "9af4b80568320a8c",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Off",
        "payloadType": "str",
        "x": 770,
        "y": 420,
        "wires": [
            [
                "39c80da5e3f4c7f9"
            ]
        ]
    },
    {
        "id": "886ff75db6d764c5",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "On",
        "payloadType": "str",
        "x": 770,
        "y": 340,
        "wires": [
            [
                "39c80da5e3f4c7f9"
            ]
        ]
    },
    {
        "id": "fe2ade024ba2971a",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 390,
        "y": 340,
        "wires": [
            [
                "87d36309077b1333"
            ]
        ]
    },
    {
        "id": "f976984e9a1c375b",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 390,
        "y": 420,
        "wires": [
            [
                "87d36309077b1333"
            ]
        ]
    },
    {
        "id": "d4ef8cecf14e9aa5",
        "type": "function",
        "z": "d07b44383b50f590",
        "name": "LightOff",
        "func": "flow.set(\"isLightOn\", false);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "3e5bd88e76657e43",
        "type": "function",
        "z": "d07b44383b50f590",
        "name": "LightOn",
        "func": "flow.set(\"isLightOn\", true);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3a77605d8d1c93a5",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "Off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1130,
        "y": 460,
        "wires": [
            [
                "88c4a7cd19b256ff"
            ]
        ]
    },
    {
        "id": "295073d1844d9fc5",
        "type": "function",
        "z": "d07b44383b50f590",
        "name": "time",
        "func": "flow.set(\"time\", Number(msg.payload));\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 520,
        "wires": [
            [
                "d0d3a0875dcab4cd",
                "68382701c1dcb977"
            ]
        ]
    },
    {
        "id": "ee7bf8779b125cc3",
        "type": "moment",
        "z": "d07b44383b50f590",
        "name": "Time",
        "topic": "",
        "input": "",
        "inputType": "msg",
        "inTz": "Europe/London",
        "adjAmount": 0,
        "adjType": "days",
        "adjDir": "add",
        "format": "HH",
        "locale": "C",
        "output": "",
        "outputType": "msg",
        "outTz": "Europe/London",
        "x": 410,
        "y": 520,
        "wires": [
            [
                "295073d1844d9fc5"
            ]
        ]
    },
    {
        "id": "d0d3a0875dcab4cd",
        "type": "debug",
        "z": "d07b44383b50f590",
        "name": "test time",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 520,
        "wires": []
    },
    {
        "id": "ee946b5b27d2d27b",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "time<=00",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "00",
        "payloadType": "num",
        "x": 200,
        "y": 600,
        "wires": [
            [
                "295073d1844d9fc5"
            ]
        ]
    },
    {
        "id": "9becba85ce927b88",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "time>=6",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "6",
        "payloadType": "num",
        "x": 200,
        "y": 560,
        "wires": [
            [
                "295073d1844d9fc5"
            ]
        ]
    },
    {
        "id": "f4f983e9c60c483e",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "60",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 520,
        "wires": [
            [
                "ee7bf8779b125cc3"
            ]
        ]
    },
    {
        "id": "9a67f0511562c8a5",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "time>=13",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "13",
        "payloadType": "num",
        "x": 200,
        "y": 480,
        "wires": [
            [
                "295073d1844d9fc5"
            ]
        ]
    },
    {
        "id": "659126e22325b4ab",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "time>=14",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "14",
        "payloadType": "num",
        "x": 200,
        "y": 440,
        "wires": [
            [
                "295073d1844d9fc5"
            ]
        ]
    },
    {
        "id": "32f416cc917c892b",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "lightIsOn",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1300,
        "y": 280,
        "wires": [
            [
                "3e5bd88e76657e43"
            ]
        ]
    },
    {
        "id": "cba2c1e774598789",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "lightIsOff",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1320,
        "y": 480,
        "wires": [
            [
                "d4ef8cecf14e9aa5"
            ]
        ]
    },
    {
        "id": "46da7e8fdf9ee556",
        "type": "inject",
        "z": "d07b44383b50f590",
        "name": "time<=01",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "01",
        "payloadType": "num",
        "x": 200,
        "y": 640,
        "wires": [
            [
                "295073d1844d9fc5"
            ]
        ]
    },
    {
        "id": "315411fb.df557e",
        "type": "server",
        "name": "Home Assistant",
        "version": 5,
        "addon": true,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": 30,
        "areaSelector": "friendlyName",
        "deviceSelector": "friendlyName",
        "entitySelector": "friendlyName",
        "statusSeparator": "at: ",
        "statusYear": "hidden",
        "statusMonth": "short",
        "statusDay": "numeric",
        "statusHourCycle": "h23",
        "statusTimeFormat": "h:m",
        "enableGlobalContextStore": true
    }
]
